<p id="notice"><%= notice %></p>

<p><%= link_to "Rate This Movie", new_rating_url(:movie_id => @movie.id) %></p>
<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Year:</b>
  <%= @movie.year %>
</p>

<p>
  <b>Director:</b>
  <%= @movie.director.name %>
</p>

<p>
  <b>Average Rating: <%= @movie.average_rating %> stars</b>
</p>

<b>Ratings:</b>
<%= @movie.ratings.each do |rating| %>
  <p><%= rating.user.name %> rated it <%= rating.stars %> stars.</p>
<% end %>

<b>Cast:</b>
<ul>
<% @movie.actors.each do |actor| %>
  <li><%= actor.name %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
